doctype html
title Foto @ La Ricetta della Felicità

meta(charset="utf-8")
meta(
  name="viewport"
  content="initial-scale=1.0, user-scalable=yes"
)
link(
  rel="icon"
  type="image/png"
  href="/assets/images/favicon.png"
)
link(
  rel="stylesheet"
  href="//fonts.googleapis.com/css?family=Lobster+Two:700italic"
)
link(
  rel="stylesheet"
  href="/assets/fonts/little-sunshine.css"
)
link(
  rel="stylesheet"
  href="/assets/css/style.css?dimM9gAr5b"
)

body(class="📷")
  .Cutter
    .Cutter__content

      .Topper
        .Topper__person.Topper__person--giacomo Giacomo
        .Topper__ring &amp;
        .Topper__person.Topper__person--valentina Valentina

  .Cutter
    .Cutter__content
      .Cutter__title Foto
      .Gallery


  script(
    type="application/javascript"
    src="//code.jquery.com/jquery-2.1.4.min.js"
  )
  script(
    type="application/javascript"
    src="/assets/js/all.js?dimM9gAr5b"
  )
