doctype html
title La Ricetta della Felicità

meta(charset="utf-8")
meta(
  name="viewport"
  content="initial-scale=1.0, user-scalable=yes"
)
link(
  rel="icon"
  type="image/png"
  href="/assets/images/favicon.png"
)
link(
  rel="stylesheet"
  href="//fonts.googleapis.com/css?family=Lobster+Two:700italic"
)
link(
  rel="stylesheet"
  href="/assets/fonts/little-sunshine.css"
)
link(
  rel="stylesheet"
  href="/assets/css/style.css?dimM9gAr5b"
)

body(class="❤")
  .Cutter
    .Cutter__content

      .Topper
        .Topper__person.Topper__person--giacomo Giacomo
        .Topper__ring &amp;
        .Topper__person.Topper__person--valentina Valentina
        .Topper__small sono lieti di annunciarvi il loro
        .Topper__big Matrimonio

      .u-flex
        .Ribbon
          .Ribbon__figure
            img.Ribbon__icon.Ribbon__icon--left(
              src="/assets/images/chiesa.png"
              alt="chiesa"
            )
            div h 10.30
            div S.Pio X
          .u-small Via Molino Arese, 19
          .u-small Cesano Maderno
          .u-small (MB)

        .Ribbon.Ribbon--main
          .Ribbon__day 12
          .Ribbon__month Settembre
          .Ribbon__year 2015
        .Ribbon
          img.Ribbon__icon(
            src="/assets/images/cascina.png"
            alt="Cascina"
          )
          div Cascina Vignola
          .u-small Via Vignola 24
          .u-small Osnago (LC)

  .Cutter
    .Slider
      .Slider__arrow.Slider__arrow--prev prev
      .Slider__arrow.Slider__arrow--next next
      .Slider__items
        .Slider__item.Slider__item--active
          img.Img.Img--responsive(src="/assets/images/allegria.jpg" alt="Allegria")
          .Slider__title Allegria
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/amicizia.jpg" alt="Amicizia")
          .Slider__title Amicizia
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/amore.jpg" alt="Amore")
          .Slider__title Amore
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/complicita.jpg" alt="Complicità")
          .Slider__title Complicità
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/comprensione.jpg" alt="Comprensione")
          .Slider__title Comprensione
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/comunicazione.jpg" alt="Comunicazione")
          .Slider__title Comunicazione
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/condivisione.jpg" alt="Condivisione")
          .Slider__title Condivisione
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/fedelta.jpg" alt="Fedeltà")
          .Slider__title Fedeltà
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/fiducia.jpg" alt="Fiducia")
          .Slider__title Fiducia
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/follia.jpg" alt="Follia")
          .Slider__title Follia
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/impegno.jpg" alt="Impegno")
          .Slider__title Impegno
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/passione.jpg" alt="Passione")
          .Slider__title Passione
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/pazienza.jpg" alt="Pazienza")
          .Slider__title Pazienza
        .Slider__item
          img.Img.Img--responsive(data-lazy-src="/assets/images/supporto.jpg" alt="Supporto")
          .Slider__title Supporto

  .Cutter
    .Cutter__content
      .Cutter__title Grazie a tutti per averci regalato un sogno!

  .Cutter
    .Trip
      .Trip__plane
      .Trip__place.Trip__place--japan
      .Trip__place.Trip__place--polynesia



  script(
    type="application/javascript"
    src="//code.jquery.com/jquery-2.1.4.min.js"
  )
  script(
    type="application/javascript"
    src="/assets/js/all.js?dimM9gAr5bd"
    async
    defer
  )
