doctype html
title La Ricetta della Felicità

meta(charset="utf-8")
meta(
  name="viewport"
  content="initial-scale=1.0, user-scalable=yes"
)
link(
  rel="icon"
  type="image/png"
  href="/assets/images/favicon.png"
)
link(
  rel="stylesheet"
  href="//fonts.googleapis.com/css?family=Lobster+Two:700italic|Handlee"
)
link(
  rel="stylesheet"
  href="/assets/fonts/little-sunshine.css"
)
link(
  rel="stylesheet"
  href="/assets/css/style.css"
)

body
  .Cutter
    .Cutter__content

      .Topper
        .Topper__person.Topper__person--giacomo Giacomo
        .Topper__ring &amp;
        .Topper__person.Topper__person--valentina Valentina
        .Topper__small sono lieti di annunciarvi il loro
        .Topper__big Matrimonio

      .u-flex
        .Ribbon
          .Ribbon__figure
            img.Ribbon__icon.Ribbon__icon--left(
              src="/assets/images/chiesa.png"
            )
            div h 10.30
            div S.Pio X
          .u-small Via Molino Arese, 19
          .u-small Cesano Maderno
          .u-small (MB)

        .Ribbon.Ribbon--main
          .Ribbon__day 12
          .Ribbon__month Settembre
          .Ribbon__year 2015
        .Ribbon
          img.Ribbon__icon(
            src="/assets/images/cascina.png"
          )
          div Cascina Vignola
          .u-small Via Vignola 24
          .u-small Osnago (LC)

  .Cutter
    img.Img.Img--responsive(src="/assets/images/2.jpg", alt="")

  .Cutter#rsvp
    .Cutter__content
      form.Form.js-rsvp(
        id="rsvp"
        method="post"
        action="/rsvp.php"
      )
        h1.Form__title RSVP
        .Form__guest.js-guest
          label.Form__label
            input.Form__input(
              name="nome"
              required
            )
            span.Form__hint nome
          label.Form__label
            input.Form__input(
              name="cognome"
              required
            )
            span.Form__hint cognome
          label.Form__label
            input.Form__input(
              type="checkbox"
              name="presenza"
              checked
            )
            .Form__input.Form__checkbox
            span.Form__hint ci sarò
          label.Form__label
            select.Form__input(
              name="menu"
              required
            )
              option(value="") scegli il tuo menù...
              option(value="carne") menù di carne
              option(value="veggie") menù vegetariano
            span.Form__hint mangerò
          label.Form__label
            a.Form__input.Form__remove.js-remove X
        .Form__actions
          button.Form__input.Form__input--button(
            type="submit"
          ) Invia conferma
          button.Form__input.Form__input--button.js-addGuest Aggiungi ospite

  .Cutter
    .Map#Map


  //- script(type="application/javascript", src="//code.jquery.com/jquery-2.1.4.min.js")
  script(
    type="application/javascript"
    src="/assets/js/jquery.js"
  )
  script(
    type="application/javascript"
    src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"
  )
  script(
    type="application/javascript"
    src="/assets/js/all.js"
  )
